* {
  border: none;
}

#waybar {
  background-color: transparent;
}

#waybar > * {
  margin: 8px 8px 0px 8px;
}

#waybar > * > * {
  background-color: rgba(31, 31, 40, 0.85); /* 217 equals the 0.85 opacity of alacritty */
  padding: 4px 24px;
  border-radius: 100px;
}

#workspaces button {
  padding: 4px 8px;
  border-radius: 100px;
  border: 2px solid transparent; /* all need a border or it looks stupid if a few add & remove borders dynamically*/
}
#workspaces button.active {
  border-color: rgba(51, 204, 255, 0.933); /* equal to rgba(33ccffee) we use in alacritty */
}
#workspaces button.urgent {
  background-color: rgba(255, 40, 40, 0.33);
}
#workspaces button:hover {
    background: none;
}
/* #workspaces button.focused {} */

