@define-color bg   rgba(31, 31, 40, 0.85);
@define-color cyan rgba(51, 204, 255, 0.933);
@define-color mint rgba(0, 255, 153, 0.933);
@define-color warn rgba(255, 40, 40, 0.33);

* {
  border: none;
  font-size: 11pt;
}

#waybar {
  background-color: transparent;
}

#waybar > * {
  margin: 6px 6px 0px 6px;
}

#waybar > * > * {
  padding: 0px 16px;
  border-radius: 100px;
  background-color: @bg; /* 217 equals the 0.85 opacity of alacritty */
}


#workspaces button {
  padding: 0px 8px;
  border-radius: 100px;
  border: 2px solid transparent; /* all need a border or it looks stupid if a few add & remove borders dynamically */
}
#workspaces button.active {
  background-clip: padding-box, border-box;
  background-origin: border-box;

  background-image:
    linear-gradient(135deg, alpha(@bg, 0.45), alpha(@bg, 0.9), alpha(@bg, 0.45)),
    linear-gradient(135deg, @cyan,  @mint);
}
#workspaces button.urgent {
  background-color: @warn;
}
#workspaces button:hover {
  background: none;
}

